<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User Succeed</title>
</head>
<body>

<h3>Create User Succeed!</h3>


<p>user <%= userId %> has been created!</p>

<a href="/users">Go to user list</a>

</body>
</html>
