<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>RedisCache And Registration Page Integration</h1>
    <h3>Xiaoli Jiang - 009390901</h3>
    <ul>
      <li><h4><a href="/registration">Registration Page</a></h4></li>
      <li><h4><a href="/users">User List</a></h4></li>
    </ul>
  </body>
</html>
